version: 2.1
orbs:
  node: circleci/node@3.0.0
jobs:
  build-run-app:
    executor:
      name: node/default
    steps:
      steps:
        - checkout
        - run: yarn
        - run: yarn build
workflows:
  "build-run":
    jobs:
      - build-run-app
